<!-- Preloader -->
<div class="loader-mask">
  <div class="loader">
    "Loading..."
  </div>
</div>

<!-- Navigation -->
<header class="nav-type-3">

  <div class="fs-menu" id="overlay">
    <nav class="overlay-menu">
      <ul>
        <li class="active">
          <%= link_to "Home", root_url %>
        </li>
        <li class="">
          <%= link_to "Artists", artists_path %>
        </li>
        <li class=""><a href="/releases">Releases</a></li>
        <li class=""><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>

  <div class="container-fluid nav-wrap clearfix">

    <div class="logo-container">
      <a href="/" class="logo">
        <%= image_tag "logo.jpg" %>
      </a>
    </div>

    <div id="nav-icon">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>

  </div> <!-- end container -->

</header>
